[user]
	email = 95653151+lla1dlaw@users.noreply.github.com
	name = Liam Laidlaw
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
